<div class="container">
  <div class="header">
    <app-header [clickableLinks]="clickableLinks" (toggleSidebar)="toggleSidebar()"
    (toggleSettingsContainerState)="toggleSettingsContainerState()"></app-header>
  </div>
  <div class="sidebar" [ngClass]="{'translate-sidebar': translateSidebar}">
    <app-sidebar [clickableLinks]="clickableLinks"></app-sidebar>
  </div>
  <main [ngClass]="{'main-w-100': translateSidebar}">
    <router-outlet></router-outlet>
  </main>
</div>

<div class="settings-container" [ngStyle]="{'transform': settingsContainerState}">
  <h2>Change Layout</h2>
</div>